@media only screen and (max-width: 2000px) {
    .box{
        border:2px solid orange;
		width:80%;
		float:left;
		border-radius:7%;
		margin-left:10%
    }
}



@media only screen and (max-width: 600px) {
    .box{
		width:100%; 
		margin-left:0%
    }
	.last_box{
		margin-bottom:50%
	}
}















