@CHARSET "ISO-8859-1";

  body {
  background-image: url('body.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.box:hover{
        transform: scale(1.1);
        z-index: 1;
        color: red;
    }

@media only screen and (max-width: 2000px) {
    .box_form{
        width:50%;
        border:2px solid orange;
        border-radius:5%
    }
    .box_content{
        width:70%;
        border:2px solid orange;
        border-radius:5%
    }
    .leave_div{
    	width:80%;
        border:2px solid orange;
        border-radius:5%;
    }
}

@media only screen and (max-width: 600px) {
    .box_form{
        width:100%;
        border:2px solid orange;
        border-radius:5%
    }
    .bottom_space{
    margin-bottom:40%
    }
    .set_input_box{
    margin-left: 7%;
    }
    .leave_to{
    	margin-left: 7%;
    	margin-top: 7%;
    }
    .leave_div{
    	width:100%;
        border:2px solid orange;
        border-radius:5%;
        margin-bottom:40%
    }
    
}